<!DOCTYPE html>
<html>

<body style="font-family: Arial, sans-serif;">
    <div style="max-width:600px;margin:auto;padding:20px;border:1px solid #eee;border-radius:5px;">
        <h2>Lesson Booking Confirmation</h2>
        <p>Hi {{ username }},</p>
        <p>Your Lesson with <strong>{{ instructor }}</strong> has been successfully booked for:</p>
        <ul>
            <li>Date: <strong>{{ date }}</strong></li>
            <li>Time: <strong>{{ time }}</strong></li>
        </ul>

        <hr />
        <p style="font-size:0.93m;color:#555">Thank you for using our service! <br>
        We look forward to seeing you soon. 🙂</p>
    </div>
    
</body>
</html>